body {
    font-family: sans-serif;
    background-color: rgb(73, 73, 73);
    color: rgb(243, 243, 243);
    text-align: center;
}


h1 {
    font-weight: 200;
    margin: 0;
}
h2 ,h3 {
    font-weight: 200;
    margin: 0;

}